/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: '.*:PREPARE_GENOME:(GUNZIP_FASTA|GUNZIP_ANNOTATION|SAMTOOLS_FAIDX)' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:BAM_MERGE_INDEX:(MERGE_BAM|INDEX_MERGE_BAM)' {
        ext.prefix = { "${meta.id}.merged" }
        publishDir = [
            enabled: params.save_merged,
            path: { "${params.outdir}/samtools_merge" },
            mode: params.publish_dir_mode,
            pattern: "*{bam,bai}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BED_TO_GTF:GSTAMA_CONVERT' {
        ext.prefix = { "gstama-${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/Genome/gstama" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BED_TO_GTF:GFFREAD_GFF' {
        ext.prefix = { "gffread-${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/Genome/gffread" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BED_TO_GTF:GFFREAD_GTF' {
        ext.args   = { "-T" }
        ext.prefix = { "gffread-${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/Genome/gffread" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BED_TO_GTF:GFFCOMPARE' {
        ext.prefix = { "gffcompare" }
        publishDir = [
            path: { "${params.outdir}/Genome/gffcompare" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BAM_VARIANTCALLING:CLAIR3' {
        ext.args   = { '--include_all_ctgs' }
        ext.prefix = { "Clair3-${meta.id}." }
        publishDir = [
            path: { "${params.outdir}/VariantCalling/Clair3" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BAM_VARIANTCALLING:DEEPVARIANT_RUNDEEPVARIANT' {
        ext.prefix = { "DeepVariant-${meta.id}." }
        publishDir = [
            path: { "${params.outdir}/VariantCalling/DeepVariant" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BAM_VARIANTCALLING:BCFTOOLS_FILTER' {
        ext.prefix = { "${meta.variant_caller}-${meta.id}" }
        ext.args   = { "--output-type z --write-index=tbi ${params.bcftools_filter_args ?: ''}" }
        publishDir = [
            path: { "${params.outdir}/VariantCalling_QC/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:CONSENSUS_TRANSCRIPTS:BCFTOOLS_CONSENSUS' {
        ext.args   = { "-H 1" }
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:CONSENSUS_TRANSCRIPTS:SAMTOOLS_FAIDX' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:CONSENSUS_TRANSCRIPTS:GFFREAD_TRANSCRIPTS' {
        ext.args   = { "-w" }
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:CONSENSUS_TRANSCRIPTS:SEQKIT_RMDUP' {
        ext.args   = { '--by-seq' }
        ext.prefix = { "${meta.id}.rmdup" }
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:CONSENSUS_TRANSCRIPTS:SEQKIT_GREP' {
        ext.args   = { '--by-seq --invert-match --pattern "N"' }
        ext.prefix = { "${meta.id}" }
        publishDir = [
            enabled: params.skip_transcripts_subset,
            path: { "${params.outdir}/Transcriptome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:CONSENSUS_TRANSCRIPTS:SEQKIT_HEAD' {
        publishDir = [
            enabled: !params.skip_transcripts_subset,
            path: { "${params.outdir}/Transcriptome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:TRANSCRIPTS_TO_PROTEIN:BLAST_BLASTP' {
        ext.args = { params.blastp_args ?: '' }
        publishDir = [
            path: { "${params.outdir}/Proteome/blastp" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:TRANSCRIPTS_TO_PROTEIN:(GUNZIP_HMM|HMMER_HMMPRESS|GUNZIP_DOMTBL)' {
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:TRANSCRIPTS_TO_PROTEIN:HMMER_HMMSEARCH' {
        ext.args = { params.hmmsearch_args ?: '' }
        publishDir = [
            path: { "${params.outdir}/Proteome/hmmsearch" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:TRANSCRIPTS_TO_PROTEIN:TRANSDECODER_LONGORF' {
        ext.args   = { params.transdecoder_longorf_args ?: '' }
        publishDir = [
            path: { "${params.outdir}/Proteome/TransDecoder_longorf" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:TRANSCRIPTS_TO_PROTEIN:TRANSDECODER_PREDICT' {
        ext.args   = { params.transdecoder_predict_args ?: '' }
        publishDir = [
            path: { "${params.outdir}/Proteome/TransDecoder_predict" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
